{{ define "main" }}
<div class="landing-page-wrapper">

    <!-- Left column -->
    <div class="landing-page-content">
        <div>
            {{ .Content | safeHTML }}
        </div>
    </div>

    <!-- Right column -->
    <div class="landing-page-image">
        <img src="{{ .Params.image }}" alt="{{ .Site.Params.header.title }}" width="221" height="331">
    </div>

</div>

<!-- Full-width publications block -->
<div class="landing-page-publications">
    {{< publications >}}
</div>

{{ end }}
